<div class="tech-btm">

    <p>Teknoloji, Yazılım ve diğer bloglar...</p>
    <form method="post">
        <input type="email" id="txtmail" required="" name="Mail">
        <input type="submit" id="btn" value="Abone Ol">
    </form>

</div>

<script type="text/javascript">
    $("#btn").click(function() {
        let values = {
            Mail: $("#txtmail").val()
        };
        $.ajax({
            type: "post",
            url: "/NewsLetter/SubscribeMail/",
            data: values,
            success: function(func) {
                let result = JQuery.parseJSON(func);
            }
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.jks" type="text/javascript"></script>